@charset "utf-8";
/* CSS Document */

/*=======================================
====== Box Sizing */

*{
	box-sizing:border-box;
}


/*=======================================
====== Fonts */

@font-face{
	font-family:"GeoSans";
	src:url("../fonts/GeosansLight.ttf");
}

body{
	font-family:"GeoSans",sans-serif;
	
	 -webkit-animation: fadein 3s;
}

html, body{
	margin:0;
	padding:0;
	
}


h1{
	font-weight:normal;
}

/*=======================================
====== Header */
#clear{
	clear:both;
}

.header{
	width:100%;
	position:fixed;
	z-index:997;
}

#user_panel{
	float:right;
	margin-right:5%;
}

#user ul{
	list-style:none;
	padding-left:inherit;
}

#user ul li{
	display:inline-block;
	font-size:1.2em;
	text-decoration:none;
	color:white;
	background-color:#2a2a2a;
	padding:10px 20px 10px 20px;
	
	transition-duration:0.3s;
	opacity:0.7;
}

#user_section ul li{
	display:inline-block;
	font-size:1.2em;
	text-decoration:none;
	color:white;
	background-color:#2a2a2a;
	padding:5px 10px 5px 10px;
	border-radius:5px;
	transition-duration:0.3s;
	opacity:0.7;
}

#user_section ul li a{
	font-size:1.2em;
	text-decoration:none;
	color:white;
}

#user_section ul li a:hover{
	color:yellow;
}

#gear-container{
	position:relative;
}

#gear-container a{
	text-decoration:none;
	background-color:#2a2a2a;
	padding:10px 5px 10px 5px;
	border-radius:5px;
	transition-duration:0.3s;
	opacity:1;
}

#gear-container a:hover{
	opacity:0.6;
	transition-duration:0.3s;
}

#gear-pic{
	position:absolute;
	width:30px;
	height:30px;
	bottom:0;
	top:0;
	left:0;
	right:0;
	margin:auto;
}

#dropdown_menu{
	display:none;
}

#dropdown_menu ul{
	list-style:none;
	font-size:1.2em;
	background-color:#2a2a2a;

	transition-duration:0.3s;
	opacity:0.7;
	padding:10px;
	margin-top:-12px;
}

#dropdown_menu ul li{
	width:114px;
}

#dropdown_menu ul li a{
	text-decoration:none;
	color:white;
	text-align:left;
}

#dropdown_menu ul li a:hover{
	color:yellow;
}

/*=======================================
====== Clearfix */

.group:after{
	content: " ";
	display:table;
	clear:both;
}


/*=======================================
====== Content Wrapper and Display Settings */

.content-wrap{
	height:100vh;
	width:100%;
	white-space:nowrap;
	background-color:white;
	overflow:hidden;
}

.windows{
	display:inline-block;
}


#pic-description{
	white-space:normal;
}


/*=======================================
====== Left Display */

.left-display{
	
	height:100vh;
	width:25%;
	min-width:300px;
	text-align:center;
	
}



#selected-pic{
	width:90%;
	margin-left:5%;
	height:250px;
	margin-top:20px;
	background-image:url("../images/2-3.jpg");
	background-size:cover;
	background-position:center;
	background-color:black;
	
}

#left-line{
	margin-top:30px;
	width:80%;
}

#pic-description{
	
}
/*=======================================
====== Right Grid Display */

.right-grid-display{
	vertical-align:top;
	height:100vh;
	background-color:black;
	width:75%;
	min-width:900px;
	
}

/*=======================================
====== Footer */

.footer{
	width:100%;
	min-width:768px;
	height:45px;
	background-color:#2a2a2a;
	position:fixed;
	bottom:0;
	left:0;
	z-index:999;
	
}

.developer-names{
	position:absolute;
	color:white;
	font-size:1.1em;
	z-index:999;
	right:10px;
	bottom:-5px;
}

.selection{
	margin-top:15px;
	margin-left:7%;
}

.selection a{
	text-decoration:none;
	color:white;
	font-size:1.2em;	
	padding-right:60px;
}

.selection a:hover{
	color:#E84D5B;
}

.selection li{
	display:inline;
	
}



/*=======================================
====== Banner */

.banner{
	text-align:center;
	padding:100px 15px;
	background-color:#27829E;
	height:100vh;
	background-image:url("../images/bg1.jpg");
	background-attachment:fixed;
	background-size:cover;
	color:black;
}

.banner p{
	font-size:1.5em;
}

.banner h1{
	font-size:3em;
	font-weight:normal;
}

#bottom-arrow{
	position:absolute;
	opacity:0.8;
	bottom:45px;
	left:50%;
	margin-left:-50px;
}

/*=======================================
====== Profile Selection Pictures */

.picture, .name{
	overflow:hidden;
}

.picture{
	width:100%;
	min-width:1200px;
	height:540px;
	background-color:black;
	white-space:nowrap;
}

.pic{
	display:inline-block;
	width:25%;
	height:540px;
	transition-duration:0.3s;
	margin-left:-2px;
	opacity:0.5;
	background-size:cover;
	background-repeat:no-repeat;
}

#pic1{
	background-image:url("../images/toaru.jpg");
	background-position:left;
}

#pic2{
	background-image:url("../images/sen.jpg");
	background-position:center;
}

#pic3{
	background-image:url("../images/mikasa.jpg");
	background-position:center;
}

#pic4{
	background-image:url("../images/haruhi.jpg");
	background-position:center;
}

.pic:hover{
	width:33%;
	opacity:1;
	transition-duration:0.3s;
}

/*=======================================
====== Profile Selection Names */

.name{
	width:100%;
	min-width:1200px;
	height:60px;
	background-color:white;
	white-space:nowrap;
}

.namae h1{
	margin-left:5px;
	font-size:1.5em;
	width:25%;
}

.namae{
	display:inline-block;
	width:25%;
	height:80px;
	margin-left:-2px;
}

h1 span{
	color:#E84D5B;	
}

/*=======================================
====== About */

#about hr{
	width:80%;
}

#about{
	width:100%;
	height:860px;
}

#about p{
	width:80%;
	margin-top:50px;
	font-size:1.5em;
	margin:0 auto;
	margin-top:50px;	
}

#p-wrap{
	text-align:center;
}

#h1-wrap{
	text-align:center;
	padding-top:50px;
	padding-bottom:15px;
}

.circle-wrap{
	width:90%;
	height:300px;
	position:relative;
	margin:0 auto;
	margin-top:30px;
	white-space:nowrap;
}

.wrap2{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	height:250px;
	width:800px;	
}

#cir1,#cir2,#cir3{
	display:inline-block;
	width:250px;
	height:250px;
	border-radius:50%;
	background-size:cover;
}

#cir1{
	background-image:url("imgs/yukiko.jpg");
}

#cir2{
	background-image:url("imgs/rise.jpg");
}

#cir3{
	background-image:url("imgs/chie.jpg");
}

/* error mesages */
#error{
	color:red;
}

/* input */

.input{
	width:200px;
}

textarea{
	resize: none;
}

/* user albums */
.profile_img{
	width:200px;
	height:200px;
}

#user_album_list{
	
}

#user_album_list ul li a img{
	width:200px;
	height:200px;
}

/* cosplay page */
#example_users ul{
	list-style:none;
	position:absolute;
	top:80px;
	left:0;
	
}

#example_users ul li{
	display:inline-block;
	height:200px;
	width:200px;
}

#example_users ul li a img{
	height:200px;
	width:200px;
}


.custom-md-3{
		padding:0;
	}
	.thumbnail>img,.thumbnail a>img{
	width:100%;
}
#myCarousel{
	margin-bottom:0;
}

.thumbnail{
	border:none;
	margin-bottom:0;
	padding:0px;
}

body{
	margin-bottom:0px;
	padding-bottom:0px;
}


.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0, 0, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
.span-custom{
	position:relative;
	font-size:2em;
	
	
	top:35%;
	transition:0.5s;
}

.span-custom:hover{
	transition:0.5s;
	border-radius:30px;

	
}

.caption a{
	text-decoration:none;
	color:white;
}

.album-creation-style, .image-creation-style{
	text-align:center;
	z-index:999;
}

#picture{
	text-align:center;
}

#upload-wrap{
	display:none;
}

.album-upload-button {
	width:70%;
	padding-top:15px;
	font-size:1.5em;
	border-radius:0;
}

#create_album{
	width:70%;
	padding:15px;
	font-size:1.5em;
	border-radius:0;
	margin-bottom:60px;
}



#title{
	width:70%;
	margin-top:20px;
	margin-bottom:20px;
	padding:10px;
	margin-left:-2px;
	
}



#descr{
	width:70%;
	margin-bottom:20px;
	
}

#search-box{
	position:absolute;
	top:10px;
	right:10px;
}



#search-field{
	width:200px;
}

#td1{
	width:15%;
}

#td2{
	width:80%;
}

.search-result-table tr #td1, .search-result-table tr #td2{
	text-align:left;
	padding:20px;
}

.search-result-table tr #td3{
	text-align:right;
	padding:20px;
}

.search-result-table tr #td3 img{
	width:100px;
	height:100px;
}

.searched-album, .searched-pic, .searched-user{
	cursor:pointer;
	height:140px;
}

.searched-album{
	background: rgba(51,251,251,0.5);
}

.searched-pic{
	background: rgba(251,81,251,0.5);
}

.searched-user{
	background: rgba(251,251,61,0.5);
}

.searched-album:hover{
	background: rgba(251,81,251,0.5);
}

.searched-pic:hover{
	background: rgba(251,251,61,0.5);
}

.searched-user:hover{
	background: rgba(51,251,251,0.5);
}
